/* Ajustar valores por defecto del navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFEDF3;
  color: #000;
}

header {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

header div {
  position: relative;
  display: inline-block;
}

header div div {
  height: 30px;
  width: auto;
  display: inline-block;
  line-height: 30px;
  vertical-align: top;
  
}

.right {
  position: absolute;
  right: 0;
}

.left {
  position: relative;
  font-weight: bold;
}

.image {
  top: 4px;
  left: 3px;
}

header div a {
  text-decoration: none;
  color: #000;
  color: #9AA6B2;
}

header div img {
  object-fit: contain;
  width: 60%;
  height: 60%;
}